// 扩展指令 extend的使用方法
.error {
    border: 1px #f00;
    background-color: #fdd;
}
.error.intrusion {
    background-image: url('/image/hacked.png');
}
.seriousError {
    @extend .error;
    border-width: 3px;
}

.base {
    color: white;
    @media screen and (orientation: landscape) {
        color: #222222;
    }
}
.extend {
    @extend .base;
}
// for 结合 if进行使用
@for $index from 1 through 10 {
    @if $index > 2 {
        .num-#{$index}-item {
            color: #ffffff;
        }
    }
}
// each控制指令的用法
@each $name in home, me, focus {
    .#{$name}-icon {
        background-image: url('./images/#{$name}.png');
    }
}

@each $selector, $value in (h1: #fff, h2: #0000, h3: #222222) {
    #{$selector} {
        color: $value;
    }
}
